#dashboard2_page{

    .required-asterisk {
        top: -55px;
        left: 0;
        margin: 8px;
        font-size: 18px;
    }

    #paymentModalBtn{
        margin-top: calc(100% - 150px); 
    }
}