// main{
//     min-height: 667px;

    

#dashboard_page{
    // padding: 0;
    // margin: 0;
    // padding: 50px;
    

    .btn-grp{
        .btn-main{
            // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
            // border-radius: 5px;
            font-weight: 500;
            font-size: 20px;

            &:hover{
                background-color: #FFB800;
                // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
                // border-radius: 5px;
            }
        }
    }

    .dash-btn-grp{
        
        $select-max-width: 300px;
        $select-gap: 10px;

        .selectOption {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // max-width: $select-max-width;
        gap: $select-gap;

        .select__item {
        padding: 10px;
        cursor: pointer;
        // font-family: "Heebo", sans-serif;
        // border: 1px solid red;
        
        width: 101px;
        height: 131px;
        text-align: center;
        border-radius: 5px;
        transition: background 0.1s;
        justify-items: center;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

        &--selected {
            background: #4B5CF4;
            color: #ffffff;
        }

        }
        }
          

        // .dash-btn{
        //     width: 101px;
        //     height: 131px;
        //     text-align: center;
        //     // background: #FFFFFF;
        //     // border-radius: 5px;
        //     //     &:hover {
                  
        //     //     }
        //     //   }
        //     cursor: pointer;
        //     &:hover{
        //         background: #4B5CF4;
        //         color: #fff;
        //     .btn1 img {
        //         content: url("/assets/img/icons/refund-active.png");
        //     }
        //     .btn2 img {
        //         content: url("/assets/img/icons/history-active.png");
        //     }
        //     .btn3 img {
        //         content: url("/assets/img/icons/tax-refund-active.png");
        //     }
        //     .btn4 img {
        //         content: url("/assets/img/icons/consulting-active.png");
        //     }
        //     .btn5 img {
        //         content: url("/assets/img/icons/output-form-active.png");
        //     }
        // }
        
        // }
    }

    
    
}

// }