#dashboard_page {

    $select-max-width: 300px;
    $select-gap: 10px;
    
    .btn-grp {
        .btn-main {
            font-weight: 500;
            font-size: 20px;

            &:hover {
                background-color: #FFB800;
            }
        }
    }

    .dash-btn-grp {
        
        .selectOption {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // max-width: $select-max-width;
            gap: $select-gap;

            .select__item {
                padding: 10px;
                cursor: pointer;
                // font-family: "Heebo", sans-serif;
                // border: 1px solid red;

                width: 100%;
                min-height: 135px;
                text-align: center;
                border-radius: 5px;
                transition: background 0.1s;
                justify-items: center;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

                &--selected {
                    background: #4B5CF4;
                    color: #ffffff;
                }
            }
        }

        // Use Bootstrap grid classes to set the width of the columns
        .row-cols-3 > div {
            @include breakpoint-md-up {
                width: calc((#{$select-max-width} - (#{$select-gap} * 2)) / 3);
            }
            @include breakpoint-md {
                width: 100%;
            }
        }

        // Use Bootstrap classes to center the columns
        .justify-content-center {
            @include breakpoint-md-up {
                justify-content: center;
            }
        }
    }
}